<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/logossap/fotosole.jfif" class="img-fluid" id="fotodeperfil">
    
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}Soledad Falcon</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Estudiante de programacion , en el curso argentina programa etapa 2 dictado por el ministerio de desarrollo productivo de la nacion a traves del inti y en busca de crecimiento laboral en el area de desarrollo para ampliar mis conocimientos y experiencias profecionales aportando todas mis aptitudes de trabajo en equipo y rapido aprendizaje.</p>
        </span>
    </div>
</div>
