<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1"> 
            <h1>Mi Porfolio Personal</h1>
            <p>Mi primer proyecto de portfolio personal para el trabajo final del curso argentina programa echo en 2022 para aprobar el curso y con la finalidad de usar lo aprendido en los meses de cursada.  </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="" class="img-fluid img-proyecto" srcset="">
        </div>
    </div>
</div>
